// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 15%;
$padding-small: 5%;
$padding-x-small: 2%;

// Brand colours
$brand-color: #3C3C3C;
$background-color: #3C3C3C;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #f1f1f1;
$link-color: #abd3fb;
$selection-color: #d4d4d4; // visible when highlighting text
$button-color: #1853db;

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #999;

// Header colours
$header-link-color: #f1f1f1;

// Feature image for articles
$feature-image-text-color: #f1f1f1;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #34318b;
$header-desc-text-color: #f1f1f1;
$header-desc-link-color: #02453d;
